html, body{
  font-size: 10px;
  font-family: sans-serif;
  background-image: url("../img/books.jpg");
  background-size: cover;
}

.title{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  font-size: 4rem;
  font-family: "Arial", serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu{
  background-color: rgba(255, 255, 255, 0.3);
  align-self: stretch;
}

.footer{
  font-size: 2rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.flex-container-menu{
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
}

.flex-item-menu:nth-child(1) {
  padding-bottom: 2rem;
  margin: 0.2rem;
}

.flex-item-menu:nth-child(2){
  padding-bottom: 2rem;
  margin: 0.2rem;
}

.flex-item-menu:nth-child(3){
  padding-bottom: 2rem;
  margin: 0.2rem;
}

a{
  text-decoration: none;
  color: black;

}

a:hover{
  color: blue;
}

.grid-container{
  display: grid;
  height: 100%;
  grid: 20rem 60rem 1fr/30rem 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "logo title"
    "menu main"
    "footer footer";
}

.flex-container-main{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

}
.flex-item{
  padding: 0.5rem;
  margin: 0.1rem;
  background-color: rgba(255, 255, 255, 0.3);
}

h1{
  color: black;
}

h2{
  color: black;
}